body {
    background-color:  #589ED9;
   
}
.container {
    margin: 0 auto;
    margin-top: 180px;
   padding: 0% 0%;
   text-align: center;
   width:300px;
}
.header {
    color:white;
}
.header i{
   font-size: 65px;
}
.header h2{
    margin: 2%;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.form input{
    text-decoration: none;
    padding: 15px;
    border: none;
    font-size: 15px;
}
.email {
    border-radius:5px 5px 0px 0px;
    border-bottom:1px solid rgba(128, 128, 128, 0.5) !important;
}
.password {
    border-radius:0px 0px 5px 5px;
}

.footer {
    padding: 15px;
    color: white;
}
.footer button{
    border: none;
    background-color: #248ee4;
    color:white;
    padding: 10px 70px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}
p span {
    font-size: 20px;
    font-weight: 700;
}